<a href="https://colab.research.google.com/github/PrecyMaeMwanyungu/Hypothyroidism_prediction/blob/master/_Precy_Mae_Independent_Project_Core_Week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hypothyroid prediction in patients**


---

# **1. Defining the Question**

# **2. Data cleaning and preparation**

## Loading the Dataset

In [254]:
# Importing relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [255]:
# Reading our data, top of dataset
df=pd.read_csv("/content/hypothyroid.csv")
df.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

In [256]:
# Reading bottom of dataset
df.tail()

        status age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
3158  negative  58   F            f  ...            y   95            n   ?
3159  negative  29   F            f  ...            y   98            n   ?
3160  negative  77   M            f  ...            y  104            n   ?
3161  negative  74   F            f  ...            y  137            n   ?
3162  negative  56   F            t  ...            y  143            n   ?

[5 rows x 26 columns]

## **Checking the data**

In [257]:
# Checking the shape of our data
df.shape

(3163, 26)

Our dataset has 26 columns and 3163 entries

In [258]:
# Preview our dataset columns
print ("Our columns are:   "
       ,df.columns)

Our columns are:    Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

In [259]:
# Taking a look at the statistical summaries
df.describe()

          status   age   sex on_thyroxine  ... FTI_measured   FTI TBG_measured   TBG
count       3163  3163  3163         3163  ...         3163  3163         3163  3163
unique         2    93     3            2  ...            2   281            2    53
top     negative     ?     F            f  ...            y     ?            n     ?
freq        3012   446  2182         2702  ...         2916   247         2903  2903

[4 rows x 26 columns]

In [260]:
# Checking our column datatypes
df.dtypes

status                       object
age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
thyroid_surgery              object
query_hypothyroid            object
query_hyperthyroid           object
pregnant                     object
sick                         object
tumor                        object
lithium                      object
goitre                       object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
TBG                          object
dtype: object

All our dataset are written as objects yet some like age should be numeric which we will deal with when we are removing missing values.

## Dealing with missing values

In [261]:
# Checking for non missing values
df.count()

status                       3163
age                          3163
sex                          3163
on_thyroxine                 3163
query_on_thyroxine           3163
on_antithyroid_medication    3163
thyroid_surgery              3163
query_hypothyroid            3163
query_hyperthyroid           3163
pregnant                     3163
sick                         3163
tumor                        3163
lithium                      3163
goitre                       3163
TSH_measured                 3163
TSH                          3163
T3_measured                  3163
T3                           3163
TT4_measured                 3163
TT4                          3163
T4U_measured                 3163
T4U                          3163
FTI_measured                 3163
FTI                          3163
TBG_measured                 3163
TBG                          3163
dtype: int64

It appears that our dataset has no missing values but we will have to confirm that.

In [262]:
# To confirm of no missing values
df.isnull().sum()

status                       0
age                          0
sex                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
thyroid_surgery              0
query_hypothyroid            0
query_hyperthyroid           0
pregnant                     0
sick                         0
tumor                        0
lithium                      0
goitre                       0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
TBG_measured                 0
TBG                          0
dtype: int64

So far, there are no missing values in our dataset. However, I have noticed some question marks in our datasets which could probably be missing values

In [263]:
# Checking for question marks per column using the unique formula
for column in df.columns:
  print('\n')
  print( df[column].nunique())
  print(df[column].unique())

2
['hypothyroid' 'negative']


93
['72' '15' '24' '77' '85' '64' '20' '42' '69' '75' '53' '59' '68' '50'
 '78' '65' '28' '43' '40' '84' '?' '83' '63' '73' '36' '27' '48' '71' '60'
 '34' '79' '62' '74' '32' '41' '70' '29' '5' '58' '35' '51' '22' '16' '44'
 '39' '47' '18' '17' '88' '56' '30' '45' '66' '52' '54' '80' '33' '38'
 '92' '67' '46' '13' '89' '61' '49' '26' '57' '31' '90' '81' '25' '37'
 '76' '87' '23' '55' '86' '98' '21' '97' '1' '6' '14' '82' '11' '19' '9'
 '12' '10' '8' '7' '4' '93']


3
['M' 'F' '?']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['f' 't']


2
['y' 'n']


240
['30' '145' '0' '430' '7.30' '138' '7.70' '21' '92' '48' '36' '15' '15.30'
 '25' '61' '28' '170' '54' '216' '56' '71' '46' '70' '34' '53' '9.40'
 '126' '10' '530' '35' '65' '57' '125' '23' '80' '117' '49' '66' '8.20'
 '150' '?' '18' '165' '164' '24' '90' '77' '19' '58' '100' '213' '17'
 '235' '153' '13' '31' '109' '260' '43' '12' '11' '55' '6.50' '20' '7.50'
 '14' '60' '140' '33' '8.70' '0.25' '10.70' '82' '45' '42' '41' '160' '16'
 '89' '44' '176' '6.40' '183' '29' '37' '39' '7.90' '59' '68' '38' '47'
 '143' '6.60' '288' '96' '0.50' '1.20' '1.90' '0.09' '3.10' '0.40' '0.85'
 '0.30' '0.90' '1.50' '4.60' '0.20' '5.80' '4' '1.40' '2' '2.60' '2.90'
 '0.80' '4.90' '10.30' '2.30' '0.70' '0.60' '1.30' '2.50' '5.10' '1.70'
 '2.70' '22' '8.10' '3.30' '5' '3.20' '1.80' '1.10' '0.46' '1' '5.60'
 '4.40' '16.50' '2.10' '6.30' '5.50' '7.40' '5.90' '0.15' '14.90' '2.20'
 '9.70' '9.60' '1.60' '3.70' '3' '2.80' '0.10' '4.20' '27' '3.50' '0.05'
 '19.20' '8' '9.10' '3.60' '7.80' '3.80' '8.50' '9.20' '52' '2.40' '3.90'
 '0.03' '0.04' '26' '6.10' '0.65' '0.92' '7.60' '8.40' '14.40' '1.05'
 '0.37' '178' '6.90' '4.50' '4.70' '40' '6' '4.10' '14.30' '5.40' '8.30'
 '0.06' '8.80' '8.90' '7.10' '4.80' '0.43' '6.70' '200' '8.60' '86' '0.21'
 '9' '0.26' '3.40' '6.20' '17.40' '85' '1.83' '63' '13.30' '0.02' '0.42'
 '9.50' '0.84' '0.88' '4.30' '0.67' '0.81' '5.20' '9.80' '76' '0.62'
 '0.01' '11.40' '88' '0.68' '0.07' '0.69' '0.77' '9.90' '0.64' '13.20'
 '6.80' '0.28' '11.60' '0.91' '1.01' '0.23' '0.35' '50' '32' '0.83' '0.08']


2
['y' 'n']


70
['0.60' '1.70' '0.20' '0.40' '1.20' '1.10' '1.30' '1.90' '?' '0.80' '2.20'
 '1.50' '2.70' '2' '0.30' '2.10' '0.50' '0.70' '1' '1.40' '2.30' '2.40'
 '0.90' '1.80' '0' '2.80' '1.60' '6.70' '3.30' '3' '2.50' '2.60' '4'
 '9.80' '3.90' '3.40' '3.80' '4.50' '3.20' '3.70' '4.30' '2.90' '3.10'
 '3.50' '3.60' '6.60' '4.90' '8.90' '4.10' '5' '5.30' '7.60' '7.30' '4.20'
 '4.40' '5.10' '7' '0.10' '0.05' '4.70' '6.20' '5.50' '4.60' '6.10' '8.10'
 '5.20' '5.60' '4.80' '10.20' '8.60']


2
['y' 'n']


269
['15' '19' '4' '6' '57' '27' '54' '34' '39' '7.60' '53' '38' '98' '44'
 '37' '81' '13' '17' '12' '50' '23' '14' '3.90' '52' '32' '30' '84' '10'
 '55' '24' '28' '11' '6.60' '31' '33' '41' '9' '78' '42' '8.10' '65' '16'
 '9.70' '46' '22' '61' '2.30' '21' '7.50' '18' '66' '25' '43' '2' '3' '58'
 '59' '71' '74' '56' '40' '20' '48' '230' '70' '4.10' '63' '5.30' '2.90'
 '62' '75' '68' '45' '47' '36' '80' '109' '8.60' '83' '82' '101' '76'
 '103' '112' '206' '110' '93' '79' '121' '?' '107' '88' '187' '254' '115'
 '113' '260' '117' '164' '97' '64' '129' '111' '106' '95' '87' '105' '90'
 '67' '134' '35' '193' '143' '130' '108' '86' '96' '92' '99' '216' '152'
 '125' '138' '194' '91' '120' '102' '170' '126' '116' '140' '94' '159'
 '85' '210' '89' '151' '247' '139' '153' '178' '123' '137' '161' '7.30'
 '72' '202' '122' '124' '157' '118' '104' '135' '186' '241' '131' '119'
 '100' '220' '176' '136' '183' '155' '208' '199' '154' '169' '128' '235'
 '195' '267' '232' '197' '212' '149' '127' '245' '132' '162' '77' '142'
 '69' '173' '141' '156' '181' '189' '60' '114' '198' '147' '191' '177'
 '174' '207' '168' '73' '160' '145' '200' '182' '158' '203' '209' '217'
 '430' '213' '218' '163' '296' '167' '148' '166' '185' '248' '172' '144'
 '150' '165' '196' '308' '146' '426' '224' '29' '204' '201' '133' '180'
 '184' '450' '244' '301' '255' '252' '396' '223' '261' '250' '179' '219'
 '190' '51' '221' '171' '242' '275' '211' '49' '239' '205' '222' '256'
 '214' '282' '287' '253' '269' '175' '228' '333' '258' '236' '225' '263'
 '283' '359' '188' '240']


2
['y' 'n']


159
['1.48' '1.13' '1' '1.04' '1.28' '1.19' '0.86' '1.05' '1.21' '1.02' '0.92'
 '1.29' '0.98' '1.08' '1.01' '1.18' '1.10' '1.27' '0.83' '1.11' '0.78'
 '1.39' '1.12' '0.93' '0.99' '0.90' '1.06' '0.68' '0.67' '1.14' '0.80'
 '0.96' '0.95' '1.46' '1.03' '0.97' '0.94' '1.09' '1.24' '1.23' '1.53'
 '1.26' '1.40' '1.17' '0.87' '0.61' '0.70' '1.07' '1.73' '1.45' '1.20'
 '0.89' '0.84' '0.91' '0.85' '1.35' '0.82' '1.50' '0.74' '1.71' '1.79'
 '0.73' '0.77' '1.25' '?' '0.88' '0.72' '0.31' '0' '0.79' '0.81' '0.71'
 '1.93' '1.32' '0.66' '1.68' '1.42' '1.70' '1.83' '1.41' '1.34' '1.65'
 '1.22' '0.75' '1.74' '0.69' '1.51' '0.76' '1.16' '0.35' '0.62' '0.54'
 '1.36' '1.33' '1.30' '0.48' '1.59' '1.75' '1.86' '1.38' '1.43' '1.62'
 '2.01' '0.30' '1.31' '1.15' '1.57' '0.55' '1.66' '0.52' '1.97' '1.47'
 '0.36' '1.88' '1.55' '0.34' '1.67' '0.58' '0.60' '0.59' '1.37' '1.76'
 '0.64' '1.80' '0.41' '0.20' '1.77' '0.33' '1.54' '0.46' '0.32' '1.44'
 '1.56' '0.56' '1.52' '2.03' '0.65' '0.63' '1.96' '0.53' '0.47' '0.29'
 '2.21' '1.69' '1.64' '1.49' '1.72' '1.58' '0.57' '1.61' '0.28' '2' '1.63'
 '0.27' '1.94' '0.50' '0.49' '0.40' '0.38']


2
['y' 'n']


281
['10' '17' '0' '6' '44' '23' '63' '32' '7.50' '61' '41' '76' '45' '34'
 '81' '11' '16' '46' '22' '12' '5' '47' '29' '37' '60' '8.40' '8.50' '24'
 '28' '7' '49' '36' '15' '9' '80' '53' '7.20' '68' '6.60' '48' '21' '14'
 '2' '20' '1.40' '56' '3' '51' '13' '43' '78' '52' '64' '26' '35' '31'
 '133' '3.40' '54' '8.90' '57' '5.50' '58' '55' '2.80' '66' '4' '40' '50'
 '8.70' '87' '89' '112' '123' '99' '92' '104' '69' '196' '107' '106' '74'
 '97' '?' '122' '84' '114' '124' '241' '119' '120' '136' '85' '127' '839'
 '137' '197' '96' '77' '108' '82' '72' '94' '91' '240' '121' '109' '79'
 '100' '98' '73' '117' '165' '103' '88' '101' '126' '132' '128' '143'
 '152' '141' '186' '113' '102' '125' '93' '105' '159' '188' '71' '149'
 '116' '83' '176' '161' '86' '140' '111' '158' '115' '171' '90' '95' '70'
 '135' '134' '178' '110' '170' '205' '695' '155' '118' '741' '131' '129'
 '142' '153' '75' '254' '246' '139' '185' '157' '147' '164' '130' '222'
 '650' '174' '182' '144' '169' '257' '145' '345' '180' '167' '151' '154'
 '150' '219' '228' '65' '187' '166' '195' '208' '138' '33' '173' '146'
 '211' '181' '190' '247' '221' '395' '216' '212' '148' '162' '220' '370'
 '450' '160' '59' '189' '203' '168' '179' '264' '470' '184' '163' '67'
 '213' '354' '292' '359' '172' '156' '334' '177' '214' '194' '192' '215'
 '217' '271' '250' '244' '308' '881' '258' '316' '200' '711' '256' '232'
 '202' '39' '248' '237' '259' '445' '19' '852' '42' '235' '634' '283'
 '305' '204' '229' '332' '550' '249' '263' '615' '266' '198' '175' '209'
 '299' '193' '227' '223' '337' '210' '272' '702' '218' '239' '355' '482'
 '347' '485' '612' '428']


2
['n' 'y']


53
['?' '28' '34' '0' '19' '30' '25' '48' '39' '31' '16' '21' '37' '40' '27'
 '3.10' '38' '108' '20' '36' '17' '23' '35' '32' '63' '9.30' '15' '26'
 '33' '41' '110' '22' '43' '53' '80' '47' '29' '13' '24' '18' '45' '86'
 '50' '8.40' '52' '11' '12' '14' '65' '7.30' '8.50' '69' '122']

* FTI seems to have a value 612 which is way higher than the rest.

* There is also a question mark (?) in age, gender,TBG and T4u. I will assume that they are null values and replace with mean in numerical columns and mode in categorical columns.

In [264]:
# Replacing our "?" with a null value
df.replace(to_replace='?', inplace=True, value=np.NaN)
print(df.isnull().sum())

status                          0
age                           446
sex                            73
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
thyroid_surgery                 0
query_hypothyroid               0
query_hyperthyroid              0
pregnant                        0
sick                            0
tumor                           0
lithium                         0
goitre                          0
TSH_measured                    0
TSH                           468
T3_measured                     0
T3                            695
TT4_measured                    0
TT4                           249
T4U_measured                    0
T4U                           248
FTI_measured                    0
FTI                           247
TBG_measured                    0
TBG                          2903
dtype: int64

In [265]:
#  Filling our null values with mode and mean
cat_columns=['status', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'T3_measured', 'TT4_measured', 
       'T4U_measured', 'FTI_measured', 'TBG_measured',]
       # Numerical columns
num_columns= ['age','TSH','T3','TT4','T4U','FTI','TBG'] 
# As seen earlier in our datatypes, we had all our columns as objects so we will convert them to numerical features
df[num_columns] = df[num_columns].apply(pd.to_numeric, errors='coerce',axis=1)

# applying mode on our missing categorical features
for column in cat_columns: 
  df[column]=df[column].fillna(df[column].mode().iloc[0])
# applying mean in our missing numerical features
for column in num_columns:
  df[column]=df[column].fillna(df[column].mean())

In [266]:
# Confirming that there are no missing values left
df.isnull().any()

status                       False
age                          False
sex                          False
on_thyroxine                 False
query_on_thyroxine           False
on_antithyroid_medication    False
thyroid_surgery              False
query_hypothyroid            False
query_hyperthyroid           False
pregnant                     False
sick                         False
tumor                        False
lithium                      False
goitre                       False
TSH_measured                 False
TSH                          False
T3_measured                  False
T3                           False
TT4_measured                 False
TT4                          False
T4U_measured                 False
T4U                          False
FTI_measured                 False
FTI                          False
TBG_measured                 False
TBG                          False
dtype: bool

We are now done removing our missing values

## Dealing with Duplicates

In [267]:
# Displaying duplicated rows
df[df.duplicated()].head(10)

          status   age sex  ...   FTI TBG_measured        TBG
53   hypothyroid  69.0   F  ...  61.0            n  31.283077
66   hypothyroid  62.0   M  ...  10.0            n  31.283077
124  hypothyroid  77.0   F  ...  49.0            n  31.283077
128  hypothyroid  79.0   F  ...  48.0            n  31.283077
131  hypothyroid  50.0   F  ...  60.0            n  31.283077
132  hypothyroid  85.0   F  ...  61.0            n  31.283077
135  hypothyroid  24.0   F  ...  28.0            n  31.283077
138  hypothyroid  15.0   F  ...  20.0            n  31.283077
145  hypothyroid  60.0   F  ...  51.0            n  31.283077
146  hypothyroid  78.0   F  ...  16.0            n  31.283077

[10 rows x 26 columns]

In [268]:
# Checking for number of duplicated rows
print("Our dataset has ,",len(df[df.duplicated()]),"duplicated rows.")

Our dataset has , 77 duplicated rows.

We will have to drop our duplicates in order to ensure improved accuracy of our models.

In [269]:
# Drop duplicates
df.drop_duplicates(inplace=True)

## Further data cleaning

# **3. Perform EDA**

## Univariate

## Bivariate

# **4. Splitting our dataset**

# **5. Decision Trees and Support Vector Machines**

# **6. Conclusion**

# 7. Challenging the solution